{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Task</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>
<body>
    <div class="navbar-custom">
        <header class="shadow-sm container-fluid d-flex justify-content-between">
            <!-- <button class="btn-toggle" id="burger">
                <i class="bi bi-list"></i>
            </button> -->
            <div class="container-fluid d-flex justify-content-between">
                <a href="../task-manager/task-list/" class="logo-text">TASK MANAGER
                    <!-- <img src="" alt="" width="36px" height="36px"> -->
                </a>
            
                <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-end">
                    <ul class="text-small">
                        <li>
                            <a href="/task-manager/view-list/" class="nav-link button view">View Display</a>
                            
                        </li> 
                    </ul>
                
                </div>
            </div>
        </header>
    </div>

    <div class="content-page d-flex flex-column px-3" style="padding-top: 40px; background-color: rgb(235, 243, 252);">
        
        <form class="form style-1" method="POST">
            <div class="page-title-box" style="width: fit-content!important;">
                <h1>Are you sure you want to delete "{{ task.title }}"?</h1>
            </div>
            {% csrf_token %}
            <div class="d-flex flex-row" style="gap: 0 20px;">
                <button type="submit" class="button delete">Confirm</button>
                <a href="{% url 'task_list' %}" class="button cancel">Cancel</a>
            </div>

        </form>

    </div>
    



    <form method="POST">
        {% csrf_token %}
        <button type="submit">Confirm</button>
    </form>
</body>
</html>